Package: byg.iosios.net.plampycc
Section: 杂七杂八
Maintainer: 搬运工
Architecture: iphoneos-arm64e
Version: 1.0.2
Depends: mobilesubstrate, preferenceloader, ws.hbang.common
Pre-Depends: rootless-compat (>= 0.9)
Description: 控制中心图标美化插件，效果看截图，安装注销生效！还可以设置控制中心壁纸！
Name: PlampyCC图标美化-Rootless
Author: sugiuta
Sponsor: 搬运工
Icon: https://chinesebuilding.club/pic/cydia.png
